.block {
    background-color: $white;
    border-radius: 10px;
}

.p-relative {
    position: relative;
}

.icon-text {
    display: flex;
    align-items: center;
    line-height: 26px;
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        margin-right: 1rem;
        border-radius: 10px;
        color: #8950fc;
        background-color: #e1d3fe;
    }
    .text-small {
        line-height: 23px;
        font-weight: 500;
    }
}

@media (max-width: 991px) {
    .icon-text {
        line-height: 22px;
        .text-small {
            line-height: 20px;
        }
    }
}