/* Стиль тултипа */
.tooltip {
    width: 100%;
    display: inline-block;
    position: relative;
}

.tooltip .tooltiptext {
    bottom: 100%;
    left: 0;
    font-size: 14px;
    line-height: 1.4;
    width: 213px;
    margin-bottom: 10px;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 4px 10px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    &:before {
        content: '';
        position: absolute;
        left: 1rem;
        top: 100%;
        transform: rotate(45deg);
        width: 12px;
        height: 12px;
        margin-top: -6px;
        background: black;
    }
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.flatpickr-calendar.rangeMode {
    width: 574px;
    .flatpickr-days {
        width: 100%;
    }
    .dayContainer {
        width: 100%;
        max-width: 100%;
        min-width: auto;
    }
    .flatpickr-day {
        max-width: none;
    }
}

.date-range input {
    pointer-events: none;
}

.block {
    background-color: $white;
    border-radius: 10px;
}

.p-relative {
    position: relative;
}

.chart-demo {
    margin-top: 1rem;
}
.chart-demo, .calendar-demo {
    img {
        width: 100%;
        height: auto;
    }
}

.icon-text {
    display: flex;
    align-items: center;
    line-height: 26px;
    .text-small {
        line-height: 23px;
        font-weight: 500;
    }
}

.icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    margin-right: 1rem;
    border-radius: 10px;
    color: $text-color-secondary;
    background-color: $bg-color;
    &.active {
        color: #8950fc;
        background-color: #e1d3fe;
    }
}

.text-border {
    display: inline-block;
    padding: 7px 15px;
    line-height: 26px;
    white-space: nowrap;
    border: 1px solid #201f2b;
    border-radius: 10px;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 2rem -3px 37px;
    padding-right: 2rem;
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        margin: 0 3px 6px;
        font-size: 14px;
        line-height: 26px;
        color: $text-color-secondary;
        border-radius: 6px;
        &.active {
            background-color: $secondary-color;
        }
    }
}

@media (min-width: $ds) {
    .pagination__item:not(.active):hover {
        color: $main-color;
    }
}

@media (max-width: 991px) {
    .icon-text {
        line-height: 22px;
        .text-small {
            line-height: 20px;
        }
    }
}

@media (max-width: $mobile) {
    .pagination {
        margin-bottom: 10px;
        padding-right: 0;
    }
}