.form__label {
    flex-shrink: 0;
    width: 240px;
    padding-right: 24px;
    &:empty {
        margin-bottom: 0;
    }
    @media (min-width: $tv) and (max-width: $device){
        width: 200px;
    }
}

.form__group {
    display: flex;
    align-items: center;
    position: relative;
    &:has(.percent) .p-relative {
        padding-bottom: 27px;
    }
    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }
    &-query {
        align-items: flex-start;
        .form__label {
            margin-top: 1rem;
        }
    }
    &:has(.percent) .form__label {
        margin-bottom: 21px;
    }

    &-checkbox {
        margin-top: 48px;
        .form__label {
            width: auto;
            margin-right: 74px;
            padding-right: 0;
        }
    }
    &-select-multiply {
        input[type=search] {
            display: none;
        }
        .choices {
            width: 508px;
            margin-left: 66px;
            &__inner {
                min-height: 50px;
                position: relative;
                padding: 9.5px 66px 9.5px 16px;
                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 6px;
                    width: 24px;
                    height: 24px;
                    background: url(../images/icons/icons.svg#chevron-down-grey) no-repeat;
                }
            }
        }
        .choices.is-open .choices__inner:before {
            transform: translateY(-50%) rotate(180deg);
            background: url(../images/icons/icons.svg#chevron-down) no-repeat;
        }
        .choices__clear {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 38px;
            cursor: pointer;
            svg {
                transition: all .3s;
            }
            @media (min-width: $ds) {
                &:hover svg {
                    color: $text-color;
                }
            }
        }
        .choices__list--multiple {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: -8px;
            .choices__item {
                position: relative;
                margin-right: 8px;
                margin-bottom: 8px;
                padding: 8px 38px 8px 16px;
                font-size: 12px;
                line-height: 15px;
                color: $text-color;
                border: none;
                border-radius: 10px;
                background: #DAE2F4 url("../images/icons/icons.svg#cancel-small") no-repeat;
                background-size: 8px;
                background-position: right 16px top 8px;
            }
            .choices__button {
                margin: 0;
                padding: 0;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border: none;
                background: none;
            }
        }
        .choices__list--dropdown {
            width: calc(100% - 18px);
            left: 9px;
            border-radius: 0;
            .choices__list {
                padding: 0;
            }
        }
        .choice-with-image {
            display: flex;
            align-items: center;
            padding: 10.5px 16px;
            cursor: pointer;
            color: $text-color-secondary;
            &.is-highlighted {
                background-color: $secondary-color;
            }
        }
    }
    svg {
        pointer-events: none;
        color: $text-color-secondary;
        &.date {
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .btn svg {
        color: $white;
    }
}

.form__checkbox {
    display: none;
    &:checked + .form__checkbox-icon {
        background-color: $main-color;
        &:before {
            left: 17px;
        }
    }
    &-icon {
        display: block;
        position: relative;
        width: 44px;
        height: 30px;
        border-radius: 20px;
        background-color: $secondary-color;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            top: 3px;
            left: 3px;
            width: 24px;
            height: 24px;
            background-color: $white;
            border-radius: 50%;
            transition: all .3s;
        }
    }
}

.form__icon-input {
    display: flex;
    width: 574px;
    position: relative;
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        margin-right: 1rem;
        border-radius: 10px;
        background-color: $bg-color;
        picture {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
        &:empty {
            background-color: transparent;
        }
    }
    .form__input {
        width: calc(100% - 66px);
    }
    .show-pass {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 23px;
    }
}

.choices {
    width: 574px;
    max-width: 100%;
}

input[type=password]::placeholder {
    font-style: italic;
    font-weight: 400;
}

.editor {
    width: 100%;
    height: 148px;
    line-height: 24px;
    &__wrap {
        width: 100%;
        padding: 1rem;
        background-color: $bg-color;
        border-radius: 10px;
    }
    &__bg {
        width: 100%;
        padding: 8px 0;
        background: #00204B;
        border-radius: 10px;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        padding-left: 8px;
    }
    &__error {
        position: relative;
        margin-right: 1rem;
        padding-left: 40px;
        font-weight: 400;
        line-height: 22px;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            background: url("../images/exclamation.png") no-repeat left center;
            background-size: contain !important;
        }
    }
}

.percent {
    position: absolute;
    bottom: 0;
    left: 8px;
    color: $main-color;
}

.form__wrap-dates {
    display: flex;
    align-items: center;
    width: 574px;
    background-color: $bg-color;
    border-radius: 10px;
    .p-relative {
        width: calc(50% - 12px);
        &:first-child {
            border-radius: 10px 0 0 10px;
        }
        &:last-child {
            border-radius: 0 10px 10px 0;
            .form__input {
                padding-right: 45px;
                padding-left: 8px;
            }
        }
    }
    .form__input {
        width: 100%;
    }
}

.form__input {
    width: 574px;
    max-width: 100%;
    height: 45px;
    padding: 13px 16px;
    font-weight: 500;
    color: $text-color;
    background-color: $bg-color;
    border-radius: 10px;
    &::placeholder {
        color: $text-color-secondary;
    }
    &-small-width {
        width: 287px;
    }
    &.active::placeholder {
        color: $text-color;
    }
}

.form-textarea {

}

.form__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 37px;
    padding-right: 1rem;
    .btn:not(:last-child) {
        margin-right: 1rem;
    }
}
@media (max-width: 991px) {
    .form {
        &__group {
            flex-wrap: wrap;
            &-checkbox .form__label {
                margin-right: 30px;
            }
        }
        &__label {
            width: 100%;
            margin-bottom: 10px;
            margin-top: 0;
        }
    }
}
@media (max-width: $device) {
    .editor {
        &__wrap {
            padding: 12px;
        }
        &__footer {
            padding-left: 0;
            flex-direction: column;
            align-items: flex-start;

            .btn {
                margin-top: 8px;
                align-self: flex-end;
            }
        }
        &__error {
            margin-right: 0;
            padding-left: 34px;
            line-height: 20px;
            &:before {
                width: 20px;
                height: 20px;
            }
        }
    }
    .ace_gutter-cell {
        padding-left: 4px;
    }
    .ace_folding-enabled > .ace_gutter-cell {
        padding-right: 6px;
    }
}

@media (max-width: $mobile) {
    .form {
        &__group-checkbox {
            margin-top: 0;
        }
        &__buttons {
            justify-content: space-between;
            margin-top: 24px;
            padding-right: 0;
            .btn {
                width: calc(50% - 8px);
                &:not(:last-child) {
                    margin-right: 0;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .form {
        &__input-small-width {
            width: 240px;
        }
    }
    .form__group {
        &-integrations:has(img) .form__label {
            padding-left: 38px;
        }
        &-select-multiply .choices {
            width: 100%;
            margin-left: 0;
        }
    }
    .form__icon-input {
        .icon {
            position: absolute;
            bottom: 100%;
            width: 30px;
            height: 30px;
            padding: 5px;
            left: 0;
            margin-bottom: 4px;

            picture {
                width: 100%;
                height: 100%;
            }
        }
        .form__input {
            width: 100%;
        }
    }
}
@media (max-width: 359px) {
    .form__buttons .btn {
        width: calc(50% - 4px);
    }
}