// Firefox
@media (min-width: $ds) {
  * {
    scrollbar-width: rem(8);
    //scrollbar-color: var(--primary-color) #d6d6d6;
    scrollbar-color: red;

    // Chrome, Edge, and Safari
    &::-webkit-scrollbar {
      width: 8px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-track {
      border-radius: rem(4);
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: rem(8);
      border: 0 none #fff;
      background-color: $secondary-color;
      cursor: pointer;
      &:hover {
        background-color: $main-color;
      }
    }
  }
}